<!DOCTYPE html>
<html lang="pt-BR">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="André Camargo | andre.camargo@msn.com | 21 9 9993-8712">

        <title>Painel de controle</title>

        <!-- Custom fonts for this template-->
        <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template-->
        <link href="assets/css/sb-admin.css" rel="stylesheet">

    </head>

    <body class="bg-dark">

        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form autocomplete="off">
                        <div class="form-group">
                            <div class="form-label-group sb-input-user">
                                <input type="text" id="inputEmail" class="form-control" placeholder="E-MAIL ou USUÁRIO" required="required" autofocus="autofocus" />
                                <label for="inputEmail">E-MAIL ou USUÁRIO</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group sb-input-psw">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" />
                                <label for="inputPassword">Senha</label>
                            </div>
                        </div>

                        <div class="sb-error-msg sb-error-msg-reg toast hide" data-messages="Informe o E-MAIL ou USUÁRIO.|Informe a SENHA.|O tamanho mínimo da SENHA é de 4 caracteres.|USUÁRIO e/ou SENHA inválido(s)."></div>
                        <button class="btn btn-primary btn-block sb-submit-login">Login</button>

                    </form>                    
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="http://localhost/novo-painel/assets/vendor/jquery/jquery.min.js"></script>
        <script src="http://localhost/novo-painel/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="http://localhost/novo-painel/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Personalizados JS JavaScript-->
        <script id="sb-php-init" src="http://localhost/novo-painel/assets/js/main.js"></script>

    </body>

</html>
